# Chain ID of the EVM chain to index
CHAIN_ID=1

# URL of the hypersync node to use
HYPERSYNC_URL=https://eth.hypersync.xyz

# ClickHouse Database connection data
DATABASE_HOST=""
DATABASE_USER=""
DATABASE_PASSWORD=""
