[package]
name = "evm-indexer"
version = "1.2.1"
license = "MIT"
edition = "2021"
repository = "https://github.com/kindynosmx/evm-indexer"
description = "Scalable SQL indexer for EVM compatible blockchains"

[dependencies]
array-bytes = "6"
clap = { version = "4", features = ["derive"] }
clickhouse = "0.11"
ethabi = "18"
ethers = { version = "2.0.4", features = ["rustls"] }
futures = "0.3"
hex = "0.4"
hyper = "0.14"
hyper-tls = "0.5"
jsonrpsee = { version = "0.18", features = ["macros", "server"] }
jsonrpsee-http-client = "0.18"
jsonrpsee-ws-client = "0.18"
log = "0.4"
rand = "0.8"
serde = "1"
serde_bytes = "0.11"
serde_json = "1"
tokio = { version = "1", features = ["full"] }
url = "2.3.1"

[dependencies.simple_logger]
version = "4.0.0"
default-features = false
features = ["colors"]

[[bin]]
path = "bin/evm-indexer.rs"
name = "evm-indexer"
