[Unit]
Description=Indexer
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/root/.cargo/bin/evm-indexer --rpcs "" --database ""
StandardOutput=append:/var/log/indexer.log

[Install]
WantedBy=multi-user.target